@import '../../variable.scss';

.PORTFOLIO-Personal {
	padding: 0.3vh 0.3vh 0 0.3vh;

	&-content {
		color: $Personal-main-text-color;

		&-textNode {
			font-size: 1.2rem;
		}

		&-listLanguage {
			list-style: none;

			& li {
				font-size: 1.2rem;
				padding: 7px 0;

				&:nth-child(1),
				&:nth-child(2) {
					display: flex;
					flex-wrap: wrap;
				}
			}
		}

		&-listCareer {
			& li {
				& h3 {
					font-size: 1.3rem;
				}

				& p {
					font-size: 1.2rem;
				}
			}
		}
	}
}
